.greenButton {
    background: #fff;
    color: #3feb80;
    border: 2px solid #3feb80;
    border-radius: 50px;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
   
  }
  
  .greenButton span {
    position: relative;
  }
  
  .greenButton span::after {
    content: '\203A';
    position: absolute;
    opacity: 0;
    right: -10px;
    transition: 400ms ease-out 100ms;
  }
  
  .greenButton:hover span::after {
    opacity: 1;
    right: -20px;
  }


  @media only screen and (max-width: 480px) {
	
    .greenButton{
      padding: 5px 5px 5px;
      margin-block: 5px;
      align-items: center;
      justify-content: center;
    }
  
  
    .greenButton span {
      padding: 5px 5px 5px;

      position: relative;
      font-size: x-small;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .orderButton span{
      font-size: small;
    }
  }